img[src$="#avatar"] {
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    width: 150px;
  }

img[src$="#logo"] {
    border-radius: 20%;
    width: 130px;
  }

td {
    border-width: 3px;
    border-bottom-color: #FFFFFF;
}